@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Book.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-BookItalic.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-BookItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Light.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-LightItalic.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Medium.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-MediumItalic.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Demi.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-Demi.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: MaisonNeue;
    src: url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-DemiItalic.woff2") format("woff2"), url("/abandoned-in-america-9CtJQQlNKL8A/fonts/maisonneue/MaisonNeue-DemiItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

body {
    height: auto;
    /*
    background-color: #190a00;
    */
}

.centralColumn,
.inline {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

/*
p {
    color: rgb(225,225,225);
}
a, a:visited {
    color: rgb(150,150,150);
}
a:hover {
    text-decoration: underline;
    text-decoration-color:#0067bf;
}*/

@media (max-width: 650px) {

    .centralColumn,
    .inline {
        padding-left: 10px;
        padding-right: 10px;
    }
}